<%= form_with(model: provinc) do |form| %>
  <% if provinc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provinc.errors.count, "error") %> prohibited this provinc from being saved:</h2>

      <ul>
        <% provinc.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :pst %>
    <%= form.text_field :pst %>
  </div>

  <div class="field">
    <%= form.label :hst %>
    <%= form.text_field :hst %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
