<p id="notice"><%= notice %></p>

<h1>Provincs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pst</th>
      <th>Hst</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @provincs.each do |provinc| %>
      <tr>
        <td><%= provinc.name %></td>
        <td><%= provinc.pst %></td>
        <td><%= provinc.hst %></td>
        <td><%= link_to 'Show', provinc %></td>
        <td><%= link_to 'Edit', edit_provinc_path(provinc) %></td>
        <td><%= link_to 'Destroy', provinc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Provinc', new_provinc_path %>
