<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @supplier.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @supplier.email %>
</p>

<p>
  <strong>Products:</strong>
  <br>
  <% @products.each do |product|%>
  <%= link_to product.title, product%>
  <br>
  <%end%>
</p>
<%= link_to 'Back', suppliers_path %>
