<!DOCTYPE html>
<html>
  <head>
    <title>Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Online Shopping</h1>
    <h3>Here you can buy high quality products at a low price.</h3>

    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About Us', about_index_path %></li>
      <li><%= link_to 'Contact Us', contact_index_path %></li>
      <li><%= link_to 'Our Suppliers', suppliers_path %></li>
    </ul>
    <%= yield %>
  </body>
</html>
